

.review{
    font-weight: 600;
    font-size: 32px;
    color: #0578FF;
    margin-bottom: 20px;
}

.review-containers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}

.container1{
    display: flex;
    flex-direction: column;
    width: 45%;
    
}
.container22{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.travel-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
    padding: 45px;
    margin: 0 0 20px 0;
    border-radius: 20px;
}
.travel-container-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.heading-t{
    font-size: 20px;
    font-weight: 500;
    color: #202020;
    
}
.para-t{
    color: #808080 ;
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
}

.travel-details{
    display: flex;
    align-items: center;
    
}

.travel-btm-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}



/* Sometimes works, browser-dependent */
option {
  background-color: #f5f5f5;
  color: #333;
}
select {
  color: #333;
  background-color: #254e8d;
  border: 2px solid #4a90e2;
}



.heading-td{
    font-size: 16px;
    font-weight: 500;
    color: #202020;
}
.input-container-t1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #808080;
}
.input-t{
    width: 100%;
    margin-left: 5px;
    color: #808080 ;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    border: none;
    background: none;
}

.input-container-t2{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #808080;
}
.input-container-t3{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #808080;
}
hr-line{
    width: 100%;
}
.input-container-t4{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.save-btn{
    background-color: #0578FF;
    padding: 10px 30px 10px 30px;
    width: max-content;
    color: white;
    font-size: 16px;
    outline: none  !important;
    border: none ;
}
.error-msg{
    font-size: 14px;
    font-weight: 500;
    color: rgb(245, 51, 51);
}

.input-container{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0px;
    
    align-items: baseline;
    justify-content: space-between;
}

.input-container1{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 30px 0 30px 0;
    align-items: center;
    justify-content: space-between;
}
.ul-person-list{
    padding: 0px;
    margin-top: 30px ;
    margin-bottom: 60px;
}

.irctc-name{
    font-weight: 500;
    font-size: 20px;
    color: #202020;
}

.irctc-container{
    display: flex;
    align-items: center;
}
.irctc-p{
    color: #808080;
    font-weight: 500;
    font-size: 12px;
    padding-left: 30px;
}
.verification-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}

.input-irctc{
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.irctc{
    width: 75%;
    
}
.irctc-cred-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    
}

.irctc-name-link{
    color: #0578FF;
    font-weight: 500;
    font-size: 14px;
}
.contact-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.top-container-css{
    padding: 30px 100px 30px 100px;
}
.mobile-container{
    width: 50%;
    margin-left: 10px;
}
.input-mobile{
    width: 100%;
    font-size: 14px;
    color: #808080;
    margin-left: 10px;
    font-weight: 500;
    background: none ;
    outline: none !important;
    border: none !important;
}

.text-p{
    color: #808080;
    font-weight: 500;
    font-size: 14px;
}
.privacy-container{
    display: flex;
    position: static;
    margin-top: 65px;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    justify-content: space-between;
}

.boarding-name{
    color: #202020;
    font-weight: 500;
    font-size: 20px;
}
.chne-boarding{
    outline: 1px solid #0578FF;
    color: #0578FF;
    font-weight: 500;
    margin-top: 30px;
    font-size: 12px;
    width: max-content;
    background: none;
}

.hr-m{
    margin: 30px 0 30px 0;
}

.offer-container{
    padding: 30px;
    border: 3px  dashed #0578FF;
    border-radius: 10px;

}

.offer-name{
    font-weight: 500;
    font-size: 24px;
    color: #0578FF;
}
.offer-container2{
    display: flex;
}
.offer-para{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;

}
.apply{
    background: none;
    color: #0578FF;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    height: max-content;
    width: max-content;
}

.offer-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.apply-container-border{
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;

}

.apply-container{
    display: flex;
    align-items: center;
    
}

.apply-name{
    font-weight: 500;
    font-size: 20px;
}
.apply-code-container{
    display: flex;
    align-items: center;
    height: 57px;
  
    justify-content: space-between;
}
.apply-code-input-container{
    width: 65%;
}
.input-apply{
    color: #808080;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin-left: 10px;
    background: none;
    outline: none;
    border: none;
}

.bill-head{
    font-weight: 500;
    font-size: 20px;
    color: #202020;
}
.bill-container-box{
    margin-top: 20px;
}

.bill-details1{
    font-size: 12px;
    font-weight: 500;
    color: #808080;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    padding: 3px 0 3px 0;
}
.bill-name-p{
    color: #808080;
    font-weight: 500;
    font-size: 12px;
}

.bill-amount-head{
    font-weight: 500;
    font-size: 20px;
}
.bill-amount{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-offer-p{
    font-weight: 500;
    font-size: 12px;
    margin: 10px 0 10px 0;

}

.book-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #0578FF;
    border-radius: 10px;
    border: none;
     margin: 10px 0 10px 0;
    outline: none;
    width: 100%;
}

.last-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cancel-btn{
    background: none;
    color: #FF6060;
    font-size: 16px;
    font-weight: 600;
    border: none;
     margin: 10px 0 10px 0;
    outline: none !important;
}

.verified-btn{
    background-color: rgb(18, 151, 21);
}



@media only screen and (max-width:600px){
    .travel-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
    }
    .container22{
        width: 100%;
        margin-top: 10px;
    }
    .apply-code-container{
        flex-direction: column;
        
    }
    .apply-container{
        width: 100%;
    }
    .apply-code-input-container{
        width: 100%;
        margin-top: 10px;
    }
    .review-containers{
        width: 100%;
        flex-direction: column;
    }
    .travel-container{
        padding: 20px;
    }
    .top-container-css{
       padding: 10px 40px 10px 40px;
    }
    .container1{
        width: 100%;
    }
    .para-t{
        padding: 0px;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    .input-container-t1,.input-container-t2,.input-container-t3,.input-container-t4{
        width: 100%;
        margin-bottom: 10px;
    }
    .input-container1{
        flex-direction: column;
        margin: 10px 0 0 0;
    }
    .save-btn{
        width: fit-content;
        margin-top: 10px;
        align-self: flex-end;
    }
    .irctc-container{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .verification-container{
        flex-direction: column;

    }
    .irctc{
        width: 100%;
    }
    .irctc-p{
        padding: 0px;
    }
    .irctc-cred-container{
        width: 100%;
        
        justify-content: space-between;
    }
    .contact-container{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        margin: 10px 0 10px 0;
    }
    .mobile-container{
        width: 100%;
        margin-top: 10px;
    }
    .privacy-container{
        width: 100%;
        
    }
    .boarding-name{
        font-size: 15px ;
    }
    .train-name{
        font-size: 10px;
    }
}




.chng-container-book{
    margin-top: 20px;
}

.list-train{
    background-color: #e0eeff ;
    border-radius: 15px;
    width: 100%;
    padding: 30px;
    color: #202020;
    margin: 0 0 20px 0;
    font-size: 15px;


}

.container218{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.train-h{
    outline: 1px solid #0578ff;
    border-radius: 10px;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
}

.time-table{
    color: #0578ff;
    font-weight: 500;
    font-size: 15px;

}

.run{
   margin: 5px 0px 3px 0px;
   font-size: 14px;
}
.journey-details-from{
    display: flex;
    flex-direction: column;
    
}
.journey-details-to{
    display: flex;
    flex-direction: column;
    align-items: flex-end   ;
}

.journey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.journey-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.hr-time{
    width: 100%;
}
.train-name{
    font-weight: 500;
    font-size: 20px;
    
}

.margin-class{
    margin: 2px;
    font-size: 16px;
    font-weight: 500;
}
.margin-class1{
    margin: 2px;
    font-size: 14px;
    font-weight: 500;
    text-align: end;
}

.booking-seat{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    list-style-type: none;
    padding: 0px;
    margin-top: 6px;
}

@media only screen and (max-width:600px){
    .booking-seat{
        justify-content: center;
    }
     .train-name{
        font-size: 15px;
    }
    .margin-class,.margin-class1{
        font-size: 12px;
    }
}