.register-top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 246, 247);
}

.heading-register{
    font-size: 20px;
    text-align: center;
}

.form-container-register{
    width: 40%;
    padding: 40px;
    background-color: rgb(255, 253, 253);
    box-shadow: 0 2px 10px #cccccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.input-container-register{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

.input-register{
    width: 100%;
    height: 35px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #898787;
    border-radius: 5px;
}

.button-register{
    background-color: #0578ff;
    color: white;
    font-size: 14px;
    align-self: center;
    width: 50%;
    margin-top: 10px;
}

.error-p-r{
    color: red;
    font-size: 12px;
    
}

.already-register{
    font-size: 12px;
    font-weight: 500;
    text-align: end;
    margin-top: 20px;
    align-self: flex-end;
}


@media screen and (max-width:600px) {
    .form-container-register{
        width: 80%;
        padding: 20px;
    }
    .button-register{
        width: 80%;
    }
    
}

@media screen and (min-width:600px) and (max-width:910px) {
   .form-container-register{
    width: 60%;
   }
    
}