.available-green {
    background-color: #D0FFC8;
    
}

.waitlist {
    background-color: #FFCDCD;
    
    


}
.not-available{
    outline: 2px solid #FF8888;
    display: flex;
    color: #202020;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    
}

.margin-classes{
    margin: 0px;
    font-weight: bolder;
}

.bhogi-li {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    justify-content: center;
    font-weight: bold;
    color: #202020;
    width: 10vw;
    font-size: 10px;
    margin-right: 20px;
    
}

.display-row {
    display: flex;
    align-items: center;
    width: 100%;

    justify-content: space-around;
}