.available-green {
    background-color: #D0FFC8;

}

.waitlist {
   background-color: #FFCDCD;
}


.not-available {
    outline: 2px solid #FF8888;
    display: flex;
    color: #202020;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;


}


.bhogi-p-class2 {
    margin: 0px;
    font-weight: 500;
    font-size: 10px;

}


.bhogi-p-class {
    margin: 0px;
    font-weight: 500;
    font-size: 12px;
}

.bhogi-li {
    border-radius: 10px;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    align-items: center;
    height: 85px;
    cursor: pointer;
    padding: 20px;
    justify-content: space-around;
    font-weight: 500;
    color: #202020;
    width: 150px;
    font-size: 10px;
    margin-right: 14px;


}

.display-row {
    display: flex;
    align-items: center;
    width: 100%;

    justify-content: space-between;
}


@media only screen and (max-width:600px) {
    .bhogi-li {
        height: 80px;
        width: 100px;
        margin: 10px;
    }
    .bhogi-p-class{
        font-size: 10px;
    }
    .bhogi-p-class2{
        font-size: 8px;
    }
}