.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;justify-content: center;
}
.heading-r{
    font-size: 25px;
    font-weight: 600;
    align-self: center;
}
.form-register{
    width: 40%;
    border-radius: 20px;
    box-shadow: 0px 2px 20px #ead8e5;
    display: flex;
    padding: 50px   ;
    flex-direction: column;
}

.container-input-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 110px;
    align-items: baseline;
}
.error-r{
    color: red;
    font-size: 20px;
    font-weight: 500;
    
    
}
.lable-input{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
}

.input-container-reg{
    height: 60px;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    outline: none;
    border-radius: 5px;
}
.register-btn{
    background-color: #0578FF;
    outline: none !important;
    border: none;
   
    width: 50%;
    align-self: center;
    color: white;
    margin: 10px 0 10px 0;
}

@media  only screen and (max-width:600px) {

    .form-register{
        width: 90%;
    }
    
}

