header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 40px 100px;
    box-shadow: 0 1px 0px rgb(231, 231, 231);
}


.heading{
    font-weight: 600;
    color: #0578ff;
    font-size: 24   ;
}
nav{
    width: 25%;
}

.span-color{
    color: black;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.booking{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.login{
    color: #0578ff;
    font-weight: 500;
    font-size: 14px;
}

@media only screen and (max-width:600px){
    .nav-ul{
        width: 100%;
    }
    header{
        justify-content: space-between;
         padding: 20px 30px 20px 30px;
    }
    nav{
        width: 60%;
    }
    
}

@media screen and (min-width:600px) and (max-width:910px) {
    header{
        padding: 40px 70px 40px 70px;
        width: 100%;
    }
    .nav-ul{
        width: 100%;
    }
    nav{
        width: 50%;
    }
    
}