header{
   
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0px 40px 0px 40px;
    box-shadow: 0 2px 0px rgb(230, 229, 229);
}

.heading{
    font-weight: bold;
    color: #0578ff;
    font-size: 24   ;
}
nav{
    width: 25%;
}

.span-color{
    color: black;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.booking{
    color: black;
}

.login{
    color: #0578ff;
}