footer{
    background-color: #0578ff;
    padding: 100px 100px 75px 100px;
    width: 100%;
    display: flex;
    height: 329px;
    
    flex-direction: column;
    justify-content: center;
    
   
}



.container-p{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.span-way{
    color: black;
}
.email{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10px 0 10px;
    margin-bottom: 0px;
    width: 100%;
    justify-content: space-between;
}

.input-email{
    border: none;
    outline: none;
    width: 100%;
    background: none;
    color: white;
}

.input-email::placeholder{
    color: white;
}
.sec-container{
    width: 40%;
}


.footer-name{
    font-weight: bold;
    color: white
}

.margin-ph{
    margin: 3px;
    font-size: 13px;
    color: white;
}

.footer-btm{
    
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}

.ul-footer{
    display: flex;
    width: auto;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    color: white;
}

.cursor-btn{
    cursor: pointer;
}

.ul-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: auto;
    gap: 15px;
}

.button-icons {
  background: none;
  border: none !important;
  outline: none !important;
  color: #1e40ff; /* visible color */
  font-size: 26px; /* big enough to see arrow */
  cursor: pointer;
}

.footer-icons{
    
    font-size: 30px;
    color: white;
}
.footer-btm-top-container{
    display: flex;
    align-items: center;
    padding-top: 60px;
}



@media screen and (max-width:600px) {
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer-btm-top-container{
        flex-direction: column;
    }
    .footer-btm{
        flex-direction: column;
    }
    .footer-icons{
        font-size: 25px;
        color: white;
    }
    .ul-footer{
        flex-wrap: wrap;
        align-items: center;
    }
    footer{
        height: auto;
        padding: 50px 30px 34px 30px;
    }
    .container-p{
        flex-direction: column;
        width: 100%;
    }
    .sec-container{
        width: 100%;
        padding-top: 10px;
    }

}

@media only screen and (min-width:600px) and (max-width:910px) {

    footer{
        padding: 70px 70px 35px 70px;
    }
    .footer-btm-top-container{
        flex-direction: column;
    }
    .footer-icons{
        font-size: 25px;
        color: white;
    }
    
}


















