footer{
    background-color: #0578ff;
    padding: 40px;
    width: 100%;
    display: flex;
    
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
}

.container-p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span-way{
    color: black;
}
.email{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10px 0 10px;
    margin-bottom: 0px;
    width: 100%;
    justify-content: space-between;
}

.input{
    border: none;
    outline: none;
    background: none;
    color: white;
}

.input::placeholder{
    color: white;
}
.sec-container{
    width: 40%;
}


.footer-name{
    font-weight: bold;
    color: white
}

.margin-ph{
    margin: 3px;
    font-size: 13px;
    color: white;
}

.footer-btm{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-footer{
    display: flex;
    width: auto;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    color: white;
}

.cursor-btn{
    cursor: pointer;
}

.ul-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: auto;
    gap: 15px;
}

.button-icons{
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
   
}




















