.train-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 27px 98px 36px 98px;
    flex: 1;
    background-color: #f6f5f5;
   min-height: 100vh;
}




.side-container {
    width: 28%;
    
    display: flex;
    flex-direction: column;

}
.p-train{
    padding-left: 25px;
    font-size: 12px;
    font-weight: 500;
    
}
.top-container {
    min-height: 100vh;

}

.head {
    color: #0578ff;
    font-size: 32px;
    font-weight: 600;
}

.search-container {
    height: 136px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}



.input-container-ee {
    height: 53px;
    width: 48%;
    
}

.input {
    color: black;
    width: 100%;
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
    background: none;
}



.input::placeholder {
    color: #808080;
}

.trains-btn {
    background-color: #0578ff;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    margin-top: 30px;
}

.plan-container {
    background-image: url("https://res.cloudinary.com/dtc3rf1du/image/upload/v1769850336/Frame_5_1_fxnhar.png");
    background-size: cover;
    height: 140px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 20px;
}
.name-plan-01{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.last-para-home{
    font-size: 12px;
    color: #808080;
    margin-top: 30px;
}
.tour-container {
    background-image: url("https://res.cloudinary.com/dtc3rf1du/image/upload/v1769850336/Frame_6_ppenjq.png");
    background-size: cover;
    height: 140px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 20px;
}




.container-height1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.container-height2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-height{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 60px;
}


/* other container */

.side-container2{
    width: 65%;
}

.train-h1{
    font-size: 32px;
    font-weight: 500;
    color: #202020;
}

.available-trains{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trains-available{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.hr{
    margin: 0px;
}

.ul-trains-list{
    width: 100%;
    list-style-type: none;
    padding: 0px;
    height: 99vh;
    overflow-y: auto;
}

.ul-trains-list::-webkit-scrollbar{
    width: 8px;
}

.ul-trains-list::-webkit-scrollbar-thumb {
  background-color: #1e40ff; /* Set the thumb color */
  border-radius: 10px; /* Round the corners */
  border: 2px solid #fff; /* White border around the thumb */
}

.ul-trains-list::-webkit-scrollbar-track {
  background-color: #dfe1e2; /* Light gray track */
  border-radius: 10px; /* Round the corners of the track */
}



@media only screen and (max-width:600px){
    .train-container{
        flex-direction: column;
    }
    .side-container{
        width: 100%;
        padding: 20px;
    }
    .search-container{
        height: auto;
       
    }
    .input-container{
        width: 100%;
    }
    .side-container2{
        width: 100%;
        padding: 20px;
    }
}

