.train-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 27px 98px 36px 98px;
    flex: 1;
    background-color: #f6f5f5;
   min-height: 100vh;
}




.side-container {
    width: 28%;
    
    display: flex;
    flex-direction: column;

}
.p-train{
    padding-left: 25px;
    font-size: 12px;
    font-weight: 500;
    
}
.top-container {
    min-height: 100vh;

}

.head {
    color: #0578ff;
    font-size: 32px;
    font-weight: 600;
}

.search-container {
    height: 136px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}



.input-container-ee {
    height: auto;
    width: 48%;
    position: relative;
    
}
.loader-container{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ul-stations-book {
    padding: 0;
    position: absolute; /* crucial for overlapping */
    display: flex;
    
    flex-direction: column;
    list-style-type: none;
    max-height: 160px;
   
    top: 100%;       /* removed quotes */
    left: 0;
    right: 0;
    width: 100%;     /* optional, ensures it matches parent width */
    overflow-y: auto; /* scroll if content exceeds height */
    background-color: white; /* important if overlapping other content */
    z-index: 600;    /* ensures dropdown is above other components */
    border: 1px solid #ccc; /* optional, makes dropdown visible */
}

.input {
    color: black;
    width: 100%;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    background: none;
}



.input::placeholder {
    color: #808080;
}

.trains-btn {
    background-color: #0578ff;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    margin-top: 30px;
}

.list-stations-book{
    display: flex;
    padding: 10px;
    align-items: center;
    word-wrap: break-word;
    padding: 10px;  
    box-shadow: 0 0 0 #606060;
    transition: 0.6s ease;
    height: 70px;
}

.list-stations-book:hover{
    background-color: #cbcaca;
    border-radius: 10px;
}

.stations-p {
    font-size: 12px;
 
    font-weight: 500;
}
.stations-p-p {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
}



.plan-container {
    background-image: url("https://res.cloudinary.com/dtc3rf1du/image/upload/v1769850336/Frame_5_1_fxnhar.png");
    background-size: cover;
    height: 140px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 20px;
}
.name-plan-01{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.last-para-home{
    font-size: 12px;
    color: #808080;
    margin-top: 30px;
}
.tour-container {
    background-image: url("https://res.cloudinary.com/dtc3rf1du/image/upload/v1769850336/Frame_6_ppenjq.png");
    background-size: cover;
    height: 140px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 20px;
}




.container-height1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.container-height2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-height{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 60px;
}


/* other container */

.side-container2{
    width: 65%;
}

.train-h1{
    font-size: 32px;
    font-weight: 500;
    color: #202020;
}

.available-trains{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trains-available{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.hr{
    margin: 0px;
}

.ul-trains-list{
    width: 100%;
    list-style-type: none;
    padding: 0px;
    height: 100vh;
    overflow-y: scroll;
}

.ul-trains-list::-webkit-scrollbar{
    width: 8px;
}

.ul-trains-list::-webkit-scrollbar-thumb {
  background-color: #1e40ff; /* Set the thumb color */
  border-radius: 10px; /* Round the corners */
  border: 2px solid #fff; /* White border around the thumb */
}

.ul-trains-list::-webkit-scrollbar-track {
  background-color: #dfe1e2; /* Light gray track */
  border-radius: 10px; /* Round the corners of the track */
}



@media only screen and (max-width:600px){
    .train-container{
        flex-direction: column;
        padding: 27px 30px 20px 30px;
    }
    .side-container{
       width: 100%;
    }
    .input-container-ee{
        margin-bottom: 20px;
    }
    .search-container{
        height: auto;
        width: 100%;
       
    }
    .plan-container{
        height: 105px;
    }
    .tour-container{
        height: 105px;
    }
    .name-plan-01{
        font-size: 14px;
    }
    .trains-btn{
        margin-top: 15px;
    }
    .input-container-ee{
        width: 100%;
    }
    .side-container2{
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (min-width:600px) and (max-width:910px){ 
    .train-container{
        padding: 27px 70px 27px 70px ;
        flex-direction: column;
    }
    .side-container{
        width: 100%;
    }
    .side-container2{
        width: 100%;
        margin-top: 30px;
    }
    .tour-container{
        height: 105px;
        font-size: 12px;
    }
    .plan-container{
        height: 105px;
        font-size: 12px;
    }
    .name-plan-01{
        font-size: 15px;
    }
    
}