.list-train{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 15px;

}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.train-h{
    outline: 1px solid #0578ff;
    border-radius: 10px;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
}

.time-table{
    color: #0578ff;
    font-weight: 500;
    font-size: 15px;

}

.run{
   margin: 5px 0px 3px 0px;
   font-size: 14px;
}
.journey-details-from{
    display: flex;
    flex-direction: column;
    
}
.journey-details-to{
    display: flex;
    flex-direction: column;
    align-items: flex-end   ;
}

.journey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.journey-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.hr-time{
    width: 100%;
}
.margin-class{
    margin: 2px;
    font-size: 14px;
    font-weight: 500;
}
.margin-class1{
    margin: 2px;
    font-size: 14px;
    font-weight: 500;
    text-align: end;
}

.booking-seat{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    list-style-type: none;
    padding: 0px;
    margin-top: 6px;
}

@media only screen and (max-width:600px){
    .booking-seat{
        justify-content: center;
    }
}