.list-train12{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 20px 25px 20px 25px;
    margin-top: 10px;
    font-size: 15px;
    
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 12px 0 ;
}

.container2-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}

.train-h{
    outline: 1px solid #0578ff;
    border-radius: 10px;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
}

.time-table1{
    color: #0578ff;
    font-weight: 500;
    font-size: 12px;

}

.run{
 
   font-size: 14px;
}
.journey-details-from{
    display: flex;
    flex-direction: column;
    
}
.journey-details-to{
    display: flex;
    flex-direction: column;
    align-items: flex-end   ;
}

.journey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.journey-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.hr-time{
    width: 100%;
}
.margin-class{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}
.margin-class-time{
    color: #808080;
    font-size: 10px;
    font-weight: 500;
}

.margin-class-14px{
    color: #202020;
    font-size: 14px;
    font-weight: 500;
}

.text-alignment{
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    text-align: end;
    
}
.margin-class1{
    margin: 2px;
    font-size: 14px;
    font-weight: 500;
    text-align: end;
}

.booking-seat1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    list-style-type: none;
    padding: 0px;
    margin-top: 12px;
}

@media only screen and (max-width:600px){
    .booking-seat{
        justify-content: center;
    }
}