.login-top-container {
    background-color: rgb(244, 246, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.form-container-login {
    width: 30%;
    padding: 40px;
    background-color: rgb(255, 253, 253);
    box-shadow: 0 2px 10px #cccccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.login-btn{
    background-color: #0578ff;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;

}

@media screen  and (max-width:600px){
    .form-container-login{
        width: 80%;
    }    
}
