.list-person{
    background-color: #0578FF1A;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #202020;
    border-radius: 15px;
    margin-top: 10px;
}

.icons{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}