.confirm-head {
    font-weight: 600;
    font-size: 32px;
    color: #0578FF;
    margin-top: 30px;
    margin-bottom: 60px;
}
.payment-containers{
   
    display: flex;
    justify-content: space-between;
}
.payment-container1{
    width: 47%;
}
.payment-container2{
    width: 50%;
}

.confirm-price {
    color: #FF6060;
}

.top-container-payment {
    padding: 0 100px 0 100px ;
    color: #202020;
    font-weight: 500;
}

.head-traveller {
    font-weight: 500;
    font-size: 20px;
}

.persons-ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style-type: none;
}
.travel-details-person{
    margin-bottom: 60px;
}
.person-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.list-train-1 {
    background-color: #cce4ff;
    border-radius: 15px;
    width: 100%;
    padding: 30px;
    color: #202020;
    font-size: 15px;
}

   
.container-bbb{
    margin-bottom: 60px;
}
.option-text {
    color: #606060;
    font-size: 16px;
    font-weight: 500;
}

.option-text-1 {
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

.ticket-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.ticket-name {
    font-weight: 500;
    font-size: 16px;
}

.ticket-para {
    font-weight: 500;
    font-size: 16px;
    align-self: flex-end;
    color: #404040;
}

.payment-header{
    font-size: 20px;
    font-weight: 500px;
    margin-left: 30px;
}

.payment-container-list{
    margin-top: 60px;
   
}
.ul-payment-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px;
}
.option-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 25px;
   cursor: pointer;
   border-bottom: 1px solid #c0bdbd;
   transition: 0.7s ease;
}

.option-list:hover{
    background-color: rgb(241, 240, 240);
    border-radius: 10px;
}

.upi-description{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}

.container-upi{
    display: flex;
    align-items: center;
    
    
}

.train-name-p{
    color: black;
    font-size: 20px;
    font-weight: 500;
}



@media only screen and (max-width:600px) {
    .confirm-head {
        font-size: 20px;
    }
    .container-upi{
        width: 90%;
    }
    .payment-containers{
        flex-direction: column;
    }
    .payment-container1{
        width: 100%;
    }
    .payment-container2{
        width: 100%;
        margin-top: 40px;
    }
    .upi-description{
        margin-left: 0px;
    }

    .top-container-payment {
         padding: 0 30px 0 30px ;
    }
    .ticket-para{
        margin-top: 10px;
    }

    .ticket-details {
        flex-direction: column;
        align-items: flex-start;
    }
    
}

@media screen and (min-width:600px) and (max-width:910px) {
    .top-container-payment{
        padding: 40px 70px 40px 70px;
    }
    .payment-containers{
        flex-direction: column;
    }
    .payment-container1{
        width: 100%;
    }
    .payment-container2{
        width: 100%;
        margin-top: 30px;
    }
    
}