/* Wrapper */
.calendar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  position: relative;
}

/* Date Scroll Container */
.date-container {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 10px;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}
.date-container {
  display: flex;
  flex-direction: row;   /* 👈 IMPORTANT */
  overflow-x: auto;
  gap: 12px;
}


.date-container::-webkit-scrollbar {
  display: none; /* Chrome */
}

/* Date Card */
.date-item {
  min-width: fit-content;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 10px #afaeae;
  transition: all 0.3s ease;
  flex-shrink: 0;
  border: 1px solid transparent;
}

.date-item:hover {
  background-color: #dbe7ff;
  transform: translateY(-3px);
}

/* Active Selected Date */
.active-date {
  background-color: #0578ff;
  color: white;
  border: 1px solid #0356b6;
  box-shadow: 0px 4px 10px rgba(5, 120, 255, 0.3);
}

/* Text Styles */
.day {
  font-size: 13px;
  margin: 0;
}

.date-number {
  margin: 5px 0;
  font-size: 18px;
}

.month {
  font-size: 12px;
  margin: 0;
}

/* Arrow Buttons */
.arrow-btn {
  background-color: #0578ff;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.arrow-btn:hover {
  background-color: #0356b6;
  transform: scale(1.1);
}

.arrow-btn:active {
  transform: scale(0.95);
}
